doctype html
html
  head

  body
    #tadaa

    script(src='http://dvmtn.github.io/snow_cannon/snow_cannon.min.js')
    script.
      SnowCannon({
        element_id: 'tadaa',
        theme:'dark',
        api_key: 'foo'
      });
